
/* =================================== */
/* COMMON */
.paper, .paper > header, .paper > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ================================== */

.paper {
    width: 50vw;
    margin: auto;
    min-width: 400px;
    background-color: var(--peach);
    filter: var(--shadow);
}

.paper > header {
    border-bottom: 1px dashed black;
    width: 400px;
    font-family: var(--logoFont);
    min-height: 100px;
}

.paper > section {
    font-family: var(--handwrittenFont);
    padding: 50px;
    text-transform: capitalize;
}

