/* =============================== */

.button {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--handwrittenFont);
  font-size: 2rem;
  border: none;
  width: 200px;
  position: relative;
  cursor:pointer;

}


/* For triangle shape */
.button::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
/* FOR TRIANGLE SHAPE */
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid var(--black);
}

/* ! fix this isnt working */
.button:hover, .button::after:hover {
  background-color: white;
  color: black;
}
