/* =============================== */

.mainForm{
    flex-direction: column;
}

.mainForm > img {
    width: 30vw;
    min-width: 300px;
}
.mainForm h2 {
    text-transform: uppercase;
    font-family: var(--logoFont);
    letter-spacing: 1px;
    line-height: 0;
}

/* ================ FORMA CSS =============== */
