
.button {
    background-color: var(--white);
    font-family: var(--handwrittenFont);
    text-transform: uppercase();
    border: 1px solid black;
    border-radius: 2px;
    min-width: 300px;
    font-size: 2rem;
    padding: 5px 50px;
    cursor: pointer;
    margin: 10px;

}

.button:hover {
    background-color: var(--black);
    color: white;

}
