/* ===================== SECTION BANNER CSS ======================= */
.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 100px;
}

.banner div {
  padding: calc(10px - 2vw) 150px;
  min-width: 200px;
  width: 50%;
}

.banner > .carousel > .carouselBg {
  width: 40vw;
  min-width: 300px;
}

.banner > .carousel > .carouselImg {
  width: 30vw;
  min-width: 250px;
  max-height: 30vw;
  position: absolute;
}

.banner > div > p {
  color: var(--grey);
}
