.avatarHead {
    position: sticky;
    z-index: 99;
    left:95%;
    top: 100%;
    width: 100px;
}

.button {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.button img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.avatarHead sup{
    border-radius: 50%;
    /* background-color: orange; */
    padding: 2px 6px;
    line-height: 0;
}