.button {
    border: none;
    background-color: transparent;
    border: none;
    max-width: 100px;
    position: sticky;
    bottom: 10%;
    left:85%;
    /* background-color: white; */

}
.button img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.button sup{
    border-radius: 50%;
    background-color: orange;
    padding: 2px 6px;
    line-height: 0;
}