@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap&family=Kalam:wght@300;400;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
/* font-family: 'Kalam', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Playfair Display SC', serif; */
:root {
  box-sizing: border-box;
  font-size: calc(0.5rem * 1vw);
  /* ------------FONTS------------ */
  --logoFont: "Playfair Display SC", serif, sans-serif;
  --handwrittenFont: "Kalam", cursive, sans-serif;
  --merriweatherFont: "Merriweather Sans", sans-serif;
  --signFont: "Pacifico", sans-serif;
  /* -----------COLORS------------- */
  --lightBrown: #e5d4c7;
  --brown: #c69b7b;
  --lightGrey: #c5bdb9;
  --beige: #ebdad1;
  --peach: #feeee1;
  --lightPeach: #fffbfb;
  --black: #121213;
  --blackboard: #393939;
  --white: #ffff;
  --grey: #8d8d8d;
  --shadow: drop-shadow(0 10px 4px #806f6f69);
  --filterRed: invert(57%) sepia(45%) saturate(702%) hue-rotate(316deg) brightness(102%) contrast(96%);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--merriweatherFont);
  font-weight: lighter;
  width: 100vw;
}

header {
    height:100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* FOR BACKGROUND-IMAGE: URL CENTER */
  background-position: center top;
  object-fit: contain;
  background-repeat: no-repeat;
}

img {
  object-fit: contain;
  /* max-width: 100%; */
}

.hidden {
  display: none;
}
/* ======================================================== */
