/* =======================COMMON SETTINGS========================== */

.todos, .todo button, .todo option {
    background-color: var(--blackboard);
    color: white;
    text-align: center;
}

.todo input, .todo select {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}


/* =======================OVERALL TODOS BLACKBOARD========================== */
.todos {
    width:60vw;
    min-width: 300px;
    margin:auto;
    margin-bottom: 100px;
    font-family: var(--handwrittenFont);
    display:flex;
    flex-direction: column;
}

/* =======================EACH ROW IN TODOS BLACKBOARD========================== */

.todo {
    display: grid;
    grid-template-columns: 10% auto minmax(80px, 20%) minmax(40px, 10%);
}

/* IOI FIELD IS ENABLED, SET CSS */
.todo.editEnabled{
    background-color: var(--lightBrown);
    color: black;
    cursor: text;
}

/* =======================EACH CELL IN TODOS BLACKBOARD========================== */
.todo > div {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTodo {
    height: 20px;
}


.todo input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    resize: none;
    cursor: default;
    outline: none;
}


.todo input[type=number]{
    text-align:center;
    border: none;
    max-width: 50px;
}

/* 
.pomodoroInput {
    display: flex;
    justify-content: center;
    align-items: center;
} */
